.topbar {
    padding: 10px 0;
    color: white;
    background: black;
    font-weight: bold;
}

.topbar>.justify-center {
    display: flex;
    align-items: center;
    justify-self: center;
}

.topbar p {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.topbar p span {
    margin-left: 10px;
    margin-right: 13px;
    text-decoration: underline;
    font-family: 'Inter';
    text-decoration-line: underline;
}

.topbar a {
    padding: 11px 42px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.9px;
    color: #2E2E2E;
}

.button-previous {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    margin-left: 25px;
}

.button-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    margin-right: 25px;
}