.checkout {
    display: flex;
    flex-direction: column;
}

.checkout>ul {
    display: flex;
    max-width: 400px;
    gap: 10px;
}

.encerrar-compra-checkout{
    background-color: #000000;
    color: white;
    width: 200px;
    height: 36px;
}
