* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus-visible {
    outline-offset: none;
}

input[type="text" i] {
    padding: 0;
}

:focus-visible {
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #d2cfcf;
    border: 1px solid #787878;
}

::-webkit-scrollbar-thumb {
    background: #585858;
}

.container>.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #828282;
    margin-bottom: 5px;
    margin-top: 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

ul,
li {
    list-style: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.menu .categoria>ul {
    display: flex;
    padding: 15px 0 25px 0;
}

.promocao {
    padding: 0 10px;
    border-radius: 20px;
    display: flex;
    background-color: black;
    color: white;
    max-height: 28px;
    align-items: center;
    box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
}

.categoria>ul>li:nth-child(n+7):nth-child(-n+15) {
    display: none;
}

.categoria>ul>li:nth-child(6) .name-categoria {
    color: red;
}

.desktop .categoria>ul>li:first-child .name-categoria {
    margin-left: 0px;
}

.desktop .categoria>ul>li>.name-categoria {
    margin: 0 10px;
}

.mobile .categoria>ul {
    flex-direction: column;
}

.mobile .categoria>ul>li {
    margin-bottom: 50px;
}

.mobile .categoria>ul>li>.subcategoria {
    margin-top: 15px;
}

.menu .desktop .container {
    display: flex;
    justify-content: space-between;
}

.is-hidden {
    display: none;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.desktop .subcategoria {
    display: none;
}

.desktop .categoria>ul>li:hover .subcategoria {
    display: block;
}

/* header {
    box-shadow: rgb(100 100 111 / 20%) 0px 3px 0px 0px;
} */

header .menu {
    background-color: white;
    position: relative;
    margin-top: 10px;
    padding-bottom: 5px;
}

header .desktop .subcategoria {
    position: absolute;
    top: 32px;
    border-radius: 4px;
    min-width: 150px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

header .desktop .subcategoria>ul>li:hover {
    background-color: #00000014;
    cursor: pointer;
}

header .desktop .subcategoria>ul>li {
    padding: 15px 10px;
}

.container.head .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.researcher-form {
    display: flex;
    max-width: 266px;
    position: relative;
    justify-self: end;
    align-items: center;
}

.researcher-form input {
    min-width: 266px;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 80px;
    max-height: 36px;
    padding-left: 20px;
    height: 100%;
}

.researcher-form button {
    padding: 10px 14px;
    border-radius: 80px;
    background-color: black;
    color: white;
    line-height: 16px;
    position: absolute;
    right: 0;
    max-height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.mobile .menu-close {
    display: none;
}

.subcategoria-mobile.subcategoria-open .subcategoria {
    display: block;
}

.subcategoria-mobile .subcategoria {
    display: none;
}

.subcategoria-mobile .name-categoria::after {
    content: "";
}

.topbar {
    padding: 10px 0;
    color: white;
    background: black;
    font-weight: bold;
}

.topbar>.justify-center {
    display: flex;
    align-items: center;
    justify-self: center;
}

.topbar p {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.topbar p span {
    margin-left: 10px;
    margin-right: 13px;
    text-decoration: underline;
    font-family: 'Inter';
    text-decoration-line: underline;
}

.topbar a {
    padding: 11px 42px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.9px;
    color: #2E2E2E;
}

body {
    position: relative;
}

.mobile {
    position: sticky;
    top: 0;
    width: 100%;
}

.mobile.fixed {
    background-color: white;
    position: fixed;
}

.mobile .menu-open {
    position: relative;
    height: 100vh;
    left: -16px;
    padding-left: 19px;
    padding-top: 90px;
    overflow: auto;
    background-color: white;
    animation-duration: 500ms;
    animation-name: slidein;
}

.container-minibanners {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container.vitrine {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.handleNext,
.handlePrev {
    position: absolute;
}

.handleNext {
    right: 16px;
    top: 50%;
    transform: translatey(-50%);
}

.handlePrev {
    left: 16px;
    top: 50%;
    transform: translatey(-50%);
}

.container-vitrine {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-products {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.list-products .item-product {
    max-width: 185.2px;
}

.Card__product-image>img {
    min-height: 210px;
    max-height: 210px;
}

.Card__comprar {
    margin-top: 10px;
}

.Card__comprar>button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #0C0C0C;
}

.Card__product-price,
.Card__product-info,
.Card__product-info-link,
.Card__comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card__product-brand {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #0C0C0C;
}

.Card__product-name {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #8A8A8A;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.Card__product-list-price {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #8A8A8A;
    margin: 8px 0;
}

.Card__product-best-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.product-carousel-container {
    margin-top: 15px;
}

.container-feed {
    display: flex;
    justify-content: space-between;
}

.container-instafeed .socials {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 53px;
}

.item-product {
    position: relative;
    max-width: 185px;
}

.Card__flags>.flag {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
}

.Card__flags>.flag:first-child {
    border-radius: 50%;
    color: white;
    background: red;
    width: fit-content;
    padding: 5px;
    right: 0;
    top: 0;
}

.Card__flags>.flag:last-child {
    background-color: #000000;
    padding: 5px 10px;
    white-space: nowrap;
    width: fit-content;
    left: 0;
    top: 0;
}

.ProductContainer {
    display: flex;
    flex-wrap: wrap;
}

.ProductsImage {
    max-width: 29%;
}

.ProductsDescript>h1 {
    max-width: 435px;
    width: 100%;
}

.checkbox {
    display: none;
}

.d-flex.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.block1>h4,
.block2>h4,
.block3>h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.0842px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8.2px;
}

.BlockLinks>.text-off {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11.7368px;
    line-height: 19px;
    color: #7B7B7B;
}

.BlockLinks>p:not(.text-off) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11.7368px;
    line-height: 19px;
    color: #000000;
}

.links-footer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11.7368px;
    line-height: 19px;
    color: #000000;
}

.content-product {
    display: flex;
    gap: 20px;
}

.container-minicart {
    position: relative;
}

.container-minicart>button>svg,
.container-minicart>button {
    cursor: pointer;
}

.mini-cart {
    position: absolute;
    right: -1px;
    top: 35px;
    background: white;
    width: 250px;
    height: 380px;
    z-index: 2;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 3px;
}

.mini-cart ul {
    max-height: 325px;
    overflow: auto;
}

.checkout {
    display: flex;
    flex-direction: column;
}

.container-footerLinks {
    padding-top: 63px;
    border-top: 5px solid #000;
    background-color: #EFEFEF;
}

.container-cards,
.group-powered-developed-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-cards {
    margin-top: 110px;
}

.group-powered-developed-by {
    gap: 30px;
}

.menu>.mobile {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.container-banner {
    position: relative;
}

.button-previous {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    margin-left: 25px;
}

.button-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    margin-right: 25px;
}

.carrinhovazio {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

header.sticky>.container.menu>.desktop>.container {
    align-items: center;
}

header.sticky>.container.menu {
    position: fixed;
    width: 100vw;
    top: -10px;
    z-index: 100000;
    left: 50%;
    transform: translatex(-50%);
    max-width: 100%;
}


.searchBox {
    position: relative;
}

.answer-search {
    position: absolute;
    z-index: 1000;
}

.searchBox>.group-input {
    display: flex;
    position: relative;
}

.searchBox>.group-input>svg {
    position: absolute;
    right: 0;
}

.searchBox>.group-input>input {
    width: 300px;
    height: 36px;
    border: 1px solid #E5E5E5;
    border-radius: 80px;
    padding: 0 5px 0 20px;
}

.checkout>ul {
    display: flex;
    max-width: 400px;
    gap: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

h5.encerrar-compra.cursor-pointer {
    text-align: center;
    height: 36px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductsDescript .price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.ProductsDescript .ListPrice {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #8A8A8A;
}

.encerrar-compra-checkout{
    background-color: #000000;
    color: white;
    width: 200px;
    height: 36px;
}

@keyframes slidein {
    from {
        position: absolute;
        right: 100%;
        width: 100%;
    }

    to {
        position: absolute;
        right: 0%;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container.head {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    .container.instafeed>h3,
    .container.vitrine>h3,
    .container.centerbanners>h3,
    .container.minibanners>h3 {
        margin-top: 20px;
        margin-bottom: 24px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        letter-spacing: 0.1em;
        color: #000000;
    }

    .container-feed {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .container-centerbanners {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        flex-direction: column;
    }

    .container-minibanners {
        display: grid;
        grid-template-columns: 2fr;
    }

    .box-blocks {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-footerLinks {
        margin-top: 50px;
    }

    .mobile.menu-close-father {
        margin: 22px 0;
    }

    .mobile.menu-open-father {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        display: block;
    }

    /* .mobile.menu-open-father>button{
        left: 0;
        position: fixed;
        z-index: 100;
        background: #ffffff38;
        border-radius: 50%;
        padding: 17px;
        top: 0;
    } */


    .mobile.menu-open-father>button {
        top: 22px;
        position: absolute;
    }

    .menu>.mobile>button {
        left: 0;
        z-index: 100;
    }

    .menu {
        position: relative
    }

    .container.menu {
        display: flex;
        justify-content: space-between;
    }


    header>.container.menu {
        display: flex;
        align-items: center;
    }


    .BlockLinks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cards {
        padding: 0 16px;
    }

    .answer-search {
        position: absolute;
        right: -5%;
        z-index: 1000;
        background-color: white;
        width: 250px;
        padding: 20px;
    }
}

@media screen and (min-width: 900px) {
    .container.head {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 77% 23%;
    }

    .container.instafeed>h3,
    .container.vitrine>h3,
    .container.centerbanners>h3,
    .container.minibanners>h3 {
        margin-top: 40px;
        margin-bottom: 44px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.1em;
        color: #000000;
    }

    .container-centerbanners {
        display: flex;
        gap: 55px;
        justify-content: space-between;
    }

    .centerbanners {
        margin-top: 33px;
        margin-bottom: 66px;
    }

    .box-blocks {
        display: flex;
        justify-content: space-between;
    }

    .container-footerLinks {
        margin-top: 237px;
    }


    .BlockLinks {
        width: 100%;
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .d-grid {
        display: grid;
        grid-template-columns: 27% 73%;
    }

    .filter {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .filter>div>label,
    .filter>div {
        cursor: pointer;
    }

    .answer-search {
        position: absolute;
        right: -3%;
        z-index: 1000;
        background-color: white;
        width: 350px;
        padding: 20px;
        max-height: 500px;
        overflow: auto;
    }
}

@media screen and (max-width: 1280px) {

    body .menu,
    body .head {
        padding: 0 16px;
    }
}